
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f4f6;
    color: #333;
}
  
  header {
    background-color: #005f73;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header .profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 5px;
  }

  header nav ul :hover{
    background-color: black;
    padding: 2px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    padding: 20px;
  }
  

  .course-location {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    border: 1px solid #0f0c0c;
    border-radius: 5px;
    padding: 10px;
  }
  
  .coursework {
    flex: 1;
  }
  
  .location {
    flex: 1;
    text-align: center;
    
  }
  
  .location img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
  }
  
  .certificate {
    margin-top: 20px;
    text-align: center;
    border: 1px solid #0f0c0c;
  }
  
  .certificate .filter,
  .certificate .courses {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 5px;
  }

  .filter :hover {
    background-color: #0f0c0c;
  }
  
  
  button {
    padding: 10px 15px;
    border: none;
    background-color: #005f73;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #299b9f;
  }
  
  footer {
    background-color: #005f73;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .course-location {
      flex-direction: column;
      gap: 20px;
    }
  
    header nav ul {
      flex-direction: column;
      gap: 10px;
    }
  
    .certificate .filter,
    .certificate .courses {
      flex-direction: column;
      gap: 5px;
    }
  }